.gpm-auth-password-title {
    float: left;
    margin-bottom: 5px;
    width: 100%
}

.gpm-auth-password-input {
    float: left;
}

.sequry-auth-password-change-inputs label {
    clear: both;
    float: left;
    width: 300px !important;
}

.sequry-auth-password-change-inputs label:first-of-type {
    margin-bottom: 10px;
}

.sequry-auth-password-change-msg {
    float: left;
    margin-top: 10px;
    width: 100%;
}